body
{

font-family: Arial, sans-serif;

margin:40px;

background-color:white;

}



header
{

text-align:center;

border-bottom:2px solid black;

padding-bottom:20px;

}



h1
{

font-size:32px;

}



main
{

width:80%;

margin:auto;

}



section
{

margin-top:25px;

}



h2
{

background-color:lightgray;

text-align:center;

padding:8px;

font-size:18px;

}



p
{

font-size:14px;

line-height:1.5;

}



ul,ol
{

font-size:14px;

}



footer
{

margin-top:40px;

text-align:center;

border-top:1px solid black;

padding-top:10px;

}
